{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block section %}
<h1 class="fw-light">Регистрация</h1>
{% endblock section %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container d-flex justify-content-center">
        <form method="post" class="w-100 d-flex flex-column justify-content-center align-items-center" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal text-center">Введите данные нового пользователя</h1>
            <strong class="text-danger">{{ form.non_field_errors }}</strong>
            {% for widget in form %}
                <div class="form-floating mb-3 w-25">
                    {{ widget.label_tag }}
                    {{ widget }}
                </div>
                {% if widget.errors %}
                    <ol>
                    {% for error in widget.errors %}
                        <li><strong class="text-danger">{{ error }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
            {% endfor %}
            <button class="btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock content %}